/* 
    ?Colores y fuentes utilizadas
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

//TODO Colores primarios

$soft-red:hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);
$dark:hsl(167, 40%, 24%);
$dark-blue:hsl(198, 62%, 26%);
$dark-desaturated-blue:hsl(212, 27%, 19%);
$dark-gayish-blue:hsl(232, 10%, 55%);
$grayish-blue:hsl(210, 4%, 67%);
$white:hsl(0, 0%, 100%);
$footer-background-color:#92eee2;

/* 
    ?Fuentes y tamanhos utilzados
*/
$font-family-principal:'Barlow', sans-serif;
$font-size:18px;
$font-weight-light:600;

$font-family-secondary:'Fraunces', serif;
$font-weight-normal:700;
$font-weight-bold:900;